---
layout: single
classes: wide
---

<p>I am a Master’s student in <b>Computational Mechanics</b> at <b>RWTH Aachen University</b>. I am currently employed as an <b>Intern - Developer</b> at <b>Simulia Dassault Systemes</b>, a <b>Research Assistant</b> at <b>APS GmbH (European Center for Mechatronics)</b> and a <b>Software Developer - Robot Software Framework</b> at Carologistics - Robocup Logistics League team. I am also currently doing my Mini-thesis at Institute for General Mechanics, RWTH Aachen on '<b>Constitutive Viscoplastic Modeling using Artificial Neural Networks</b>'.</p>

<p>Please feel free to navigate through the site to find out more about me.</p>


