---
layout: single
classes: wide
---

<p>I am a Master’s student in Computational Mechanics at [RWTH Aachen University](http://www.rwth-aachen.de/). I am currently employed as an Intern - Developer at [Simulia Dassault Systemes](http://simulia.com), a Research Assistant at [APS GmbH (European Center for Mechatronics)](http://wordpress.aps-aachen.de) and Developer - Robot Software Framework at [Carologistics - Robocup Logistics League team](https://fawkesrobotics.org). I am also currently doing my Mini-thesis at Institute for General Mechanics, RWTH Aachen on 'Constitutive Viscoplastic Modeling using Artificial Neural Networks'.</p>

<p>Please feel free to navigate through the site to find out more about me.</p>
